<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" (click)=handleToggleMenu()>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" 
    [class.show]="showMenu"
    [ngClass]="{ 'show': showMenu, 'innaFlaga': innaZmienna}" >
      <ul class="navbar-nav">
        <li appBgHighlight="green" class="nav-item" *ngFor="let item of menuItems" routerLinkActive="active">
          <a class="nav-link" [routerLink]="item.link" >{{item.name}}</a>
          <!-- <a class="nav-link" [href]="item.link" *ngIf=isShown(item.name) >{{item.name}}</a> -->
        </li>
      </ul>
    </div>
    <div class="text-light">
      <a class="btn btn-primary" routerLink="add-auction">
        <i class="fa fa-plus"></i> Dodaj
      </a>
      <a class="btn btn-secondary ml-2" routerLink="shopping-cart">
        <i class="fa fa-shopping-basket"></i> Koszyk
      </a>
    </div>
  </nav>
