<section class="mt-3"> 
    <div class="row">
        <h2 class="col-8"> Lista naszych auckji</h2>
        <div class="col-4"> 
            <div class="input-group mb-3">
                <div class="input-group-prepend" >
                  <span (click)="inputSearch.focus()"
                  class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input
                  #inputSearch
                  type="text"
                  name="title"
                  class="form-control"
                  [(ngModel)]="searchText"
                />
              </div>

        </div>
    </div>
    <app-auction-counter></app-auction-counter>
    <div class="row">
        <!-- Tutaj nasze aukcje będą lada moment.... -->
        <!-- div>div.col-3.hello>div*3{heelo word} -->
        <!-- div>span -->



        <div class="col-12 col-sm-6 col-md-4 col-ld-3" *ngFor="let item of auctions | filterAuction:searchText">
            <app-auction-item-card [auction]=item (addToCart)="handleAddToCart($event)" ></app-auction-item-card>
            <!-- component z aukcją-->
        </div>
    </div>    
</section>
